* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.container {
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar ul{
    justify-content: center;
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}


.navbar a {
  text-decoration: none;
  color: black;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

/* Efek underline saat hover */
.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #1782e6;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}


h1 {
  font-size: 45px;
  background: linear-gradient(to right, #1782e6, #1782e6, #a250ff, #F249F5, #ff7ddf);
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: -26px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

h4 {
    font-size: 20px;
    margin-left: 180px;
    margin-bottom: 20px;
    color: #1782e6;
    margin-top: 50px;
}

    #note {
    text-align: right;
    font-size: 15px;
    margin-right: 180px;
    margin-bottom: 20px;
    margin-top:-50px;
    color: #f950ff;
}
    .experiences {
      display: flex;
      background-color: white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      max-width: 800px;
      margin: auto;
    }

    .resume-left {
      flex: 1;
      padding-right: 10px;
      padding-left: 30px;
    }

    .resumeleftt{
        background: rgb(245, 245, 245);
        margin-right: 60px;
        padding: 15px;
        border-radius: 10px;
    }

    .resume-left .year {
      font-size: 14px;
      font-weight: bold;
      color: #007bff; /* biru */
      margin-bottom: 5px;
    }

    .resume-left .position {
      font-size: 15px;
      font-weight: bold;
      color: #222;
      margin-top: -5px;
      margin-bottom: 2px;
    }

    .resume-left .company {
      font-size: 0.7rem;
      color: #000;
      opacity: 0.7;
    }

    .resume-right {
      flex: 2;
      font-size: 0.86rem;
      color: #333;
      margin-right: 20px;
      margin-left: -40px;
      margin-top: 7px;
    }


.experiences2 {
      display: flex;
      background-color: white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      max-width: 800px;
      margin: auto;
    }

    .resume-left2 {
      flex: 1;
      padding-right: 10px;
      padding-left: 30px;
    }

    .resumeleftt2 {
        background: rgb(245, 245, 245);
        margin-right: 60px;
        padding: 15px;
        border-radius: 10px;
    }

    .resume-left2 .year2 {
      font-size: 14px;
      font-weight: bold;
      color: #007bff; /* biru */
      margin-bottom: 5px;
    }

    .resume-left2 .position2 {
      font-size: 15px;
      font-weight: bold;
      color: #222;
      margin-top: -5px;
      margin-bottom: 2px;
    }

    .resume-left2 .company2 {
      font-size: 0.9rem;
      color: #000;
      opacity: 0.7;
    }

    .resume-right2 {
      flex: 2;
      font-size: 0.87rem;
      color: #333;
      margin-right: 20px;
      margin-left: -40px;
      margin-top: 5px;
    }


    .experiences3 {
      display: flex;
      background-color: white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      max-width: 800px;
      margin: auto;
      margin-top: 50px;
    }

    .resume-left3 {
      flex: 1;
      padding-right: 10px;
      padding-left: 30px;
    }

    .resumeleftt3 {
        background: rgb(245, 245, 245);
        margin-right: 60px;
        padding: 15px;
        border-radius: 10px;
    }

    .resume-left3 .year3 {
      font-size: 14px;
      font-weight: bold;
      color: #007bff; /* biru */
      margin-bottom: 5px;
    }

    .resume-left3 .position3 {
      font-size: 15px;
      font-weight: bold;
      color: #222;
      margin-top: -5px;
      margin-bottom: 1px;
    }

    .resume-left3 .company3 {
      font-size: 0.9rem;
      color: #000;
      opacity: 0.7;
    }

    .resume-right3 {
      flex: 2;
      font-size: 0.86rem;
      color: #333;
      margin-right: 20px;
      margin-left: -40px;
      margin-top: 10px;;
    }

    .experiences4 {
      display: flex;
      background-color: white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      max-width: 800px;
      margin: auto;
      margin-top: 50px;
    }

    .resume-left4 {
      flex: 1;
      padding-right: 10px;
      padding-left: 30px;
    }

    .resumeleftt4 {
        background: rgb(245, 245, 245);
        margin-right: 60px;
        padding: 15px;
        border-radius: 10px;
    }

    .resume-left4 .year4 {
      font-size: 14px;
      font-weight: bold;
      color: #007bff; /* biru */
      margin-bottom: 5px;
    }

    .resume-left4 .position4 {
      font-size: 16px;
      font-weight: bold;
      color: #222;
      margin-top: -5px;
      margin-bottom: 2px;
    }

    .resume-left4 .company4 {
      font-size: 0.9rem;
      color: #000;
      opacity: 0.7;
    }

    .resume-right4 {
      flex: 2;
      font-size: 0.97rem;
      color: #333;
      margin-right: 20px;
      margin-left: -40px;
      margin-top: 9px;
    }

    .edu h4  {
      text-align: left;
    font-size: 20px;
    margin-left: 280px;
    color: #a250ff;
    margin-top: 70px;
}

    #note2 {
    text-align: right;
    font-size: 15px;
    margin-right: 280px;
    margin-bottom: 20px;
    margin-top:-50px;
    color: #f950ff;
}
    .education {
      display: flex;
      background-color: white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      max-width: 800px;
      margin: auto;
    }

    .edu-left {
      flex: 1;
      padding-right: 10px;
      padding-left: 30px;
    }

    .eduleftt{
        background: rgb(245, 245, 245);
        margin-right: 60px;
        padding: 15px;
        border-radius: 10px;
    }

    .edu-left .edu-year {
      font-size: 14px;
      font-weight: bold;
      color: #a250ff; /* biru */
      margin-bottom: 5px;
    }

    .edu-left .edu-major {
      font-size: 18px;
      font-weight: bold;
      color: #222;
      margin-top: -5px;
      margin-bottom: 2px;
    }

    .edu-left .edu-school {
      font-size: 0.9rem;
      color: #000;
      opacity: 0.7;
    }

    .edu-right {
      flex: 2;
      font-size: 0.82rem;
      color: #333;
      margin-right: 20px;
      margin-left: -40px;
      margin-top: 5px;
    }

    .education2 {
      display: flex;
      background-color: white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      max-width: 800px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 70px;
    }

    .edu-left2 {
      flex: 1;
      padding-right: 10px;
      padding-left: 30px;
    }

    .eduleftt2 {
        background: rgb(245, 245, 245);
        margin-right: 60px;
        padding: 15px;
        border-radius: 10px;
    }

    .edu-left2 .edu-year2 {
      font-size: 14px;
      font-weight: bold;
      color: #a250ff; /* biru */
      margin-bottom: 5px;
    }

    .edu-left2 .edu-major2 {
      font-size: 18px;
      font-weight: bold;
      color: #222;
      margin-top: -5px;
      margin-bottom: 2px;
    }

    .edu-left2 .edu-school2 {
      font-size: 0.9rem;
      color: #000;
      opacity: 0.7;
    }

    .edu-right2 {
      flex: 2;
      font-size: 0.82em;
      color: #333;
      margin-right: 20px;
      margin-left: -40px;
      margin-top: 5px;
    }
